.box_nav{
    background-color:#ef3945;
}
.box_contenedor_general{
    width:80%;
    /* background-color:#6d6d6e; */
    margin:auto;
    margin-top:100px;
    padding:10px;
}
.box_btn_escalar{
    width:80%;
    margin:auto !important;
}
.box_btn_escalar .box_btn_solicitud{
margin:50px;
}